* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.stick3 {
  width: 30px;
  height: 3px;
  margin: 5px;
  margin-left: -5px;
  background-color: mediumaquamarine;
}

.stick4 {
  width: 30px;
  height: 3px;
  margin: 5px;
  background-color: mediumaquamarine;
}

.txt-create {
  display: flex;
  place-items: center;
  flex-direction: column;
}

.all-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.fcol {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.iio {
  margin: 15px;
}

.scol {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.tcol {
  display: flex;
  flex-direction: column;
  width: 25%;
}

@media (max-width: 770px) {
  .all-col {
    display: flex;
    flex-direction: column;
  }
}
